{% extends 'base.html.twig' %}

{% block title %} HOMEPAGE{% endblock %}

{% block body %}

    <div class="container mt-5 ">
        <div class="jumbotron">
            <h1 class="display-3">RBN</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Savoir plus</a>
            </p>
        </div>

        <h2 class="mt-5 mb-5">Nos appartements stars</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header text-center">
                        <p>3 Chambres
                            <strong>65&euro;/nuit</strong><br>
                            <small>pas encore notée</small>
                        </p>
                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="http://placehold.jp/1000x400.png" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="btn btn-secondary" href="#" role="button">Savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header text-center">
                        <p>3 Chambres
                            <strong>65&euro;/nuit</strong><br>
                            <small>pas encore notée</small>
                        </p>
                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="http://placehold.jp/1000x400.png" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="btn btn-secondary" href="#" role="button">Savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header text-center">
                        <p>3 Chambres
                            <strong>65&euro;/nuit</strong><br>
                            <small>pas encore notée</small>
                        </p>
                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="http://placehold.jp/1000x400.png" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="btn btn-secondary" href="#" role="button">Savoir plus</a>
                    </div>
                </div>
            </div>

        </div>

        <h2 class="mt-5 mb-5">Nos Propriétaires stars</h2>

        <div class="row mb-5 ">

            <div class="col-md-4">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Noureddine Berjaoui</h4>
                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.jp/64x64.png" alt="" class="float-left mr-3"/>
                            <p>Lorem, ipsum lorem dolor sit ipsum lorem dolor sit ipsum lorem dolor sit ipsum
                            </p>
                            <a href="#" class="btn btn-sucess float-right">En savoir plus!</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Noureddine Berjaoui</h4>
                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.jp/64x64.png" alt="" class="float-left mr-3"/>
                            <p>Lorem, ipsum lorem dolor sit ipsum lorem dolor sit ipsum lorem dolor sit ipsum
                            </p>
                            <a href="#" class="btn btn-sucess float-right">En savoir plus!</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Noureddine Berjaoui</h4>
                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.jp/64x64.png" alt="" class="float-left mr-3"/>
                            <p>Lorem, ipsum lorem dolor sit ipsum lorem dolor sit ipsum lorem dolor sit ipsum</p>
                            <a href="#" class="btn btn-sucess float-right">En savoir plus!</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}